/* universal selectors */
* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
  }

body {
    max-width: 1200px;
    padding: 25px;
    margin: auto;
}

button {
    background-color: darkslateblue;
    color: white;
    font-size: 1.25em;
    text-align: center;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
}

button:hover {
    background-color: mediumvioletred;
}

header {
    clear: both;
}

main {
    text-align: center;
    padding: 200px;
}

.show {
    display: block;
}

.hide {
    display: none;
}

.view-high-scores {
    float: left;
}

#timer {
    float: right;
    font-size: 1.25em;
    padding: 10px;
    margin: 5px;
}

#start-container, 
#end-container,
#high-score-container {
    text-align: center;
    
}

#start-container p,
#end-container p,
label {
    font-size: 1.25em;
    padding-bottom: 25px;
}

#start-container h1,
#end-container h1, 
#high-score-container h1 {
    font-size: 2em;
    padding: 25px 0 25px 0;
}

#quiz-container {
    text-align: left;
}

#questions {
    font-size: 2em;
    font-weight: bold;
    padding: 25px 0 25px 0;
}

#message {
    font-size: 1.25em;
    font-weight: bold;
    font-style: italic;
    color: mediumvioletred;
    padding: 10px 0 10px 0;
}

#score-list {
    margin-bottom: 15px;
}

#score-list li {
    text-align: left;
    font-size: 1.25em;
    min-width: 100px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: lavender;
}

input {
    font-size: 1.25em;
    max-width: 150px;
    padding: 10px;
    margin: 10px 0 10px 0;
    background-color: lavender;
}